<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to current_user.user_name, user_path(current_user), class: :greeting__link %>さん</p>
      </div>
    <% end %>
    <div class="card__wrapper">
       <%= render partial: "prototypes/prototype", collection: @prototypes, as: :prototype %>
    </div>
  </div>
</main>
